/* 
1. Header
2. Sidebar
3. Main
    3.1 Tabs 
    3.2 Tabs Content 
    3.3 Other 
4. Helpers 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    }
 
body{
    font-family: 'Roboto', sans-serif;
}

/* 1. Header */
.head {
    position: fixed;
    width: 100%;
    height: 70px;
    background: #24292f;
    text-align: left;
    line-height: 70px;
    font-size: 2.5em;    
    font-weight: 300;
}

button {
    float: right;
    overflow: hidden;
    width: 10%;
    min-width: 100px;
    height: 70px;   
    background: #24292f;
    border: 0 solid black;
    font-size: 0.5em;
    color: rgb(255, 255, 255);
}

button:hover {
    color: #808080;
    cursor: pointer;
}

.head a {
    padding: 10px;
    color: rgb(255, 255, 255);
}

.head a:hover {
    color: rgb(255, 255, 255);
}

.burger {
    right: 0;
    top: 0;
    position: fixed;
    color: #fff;
    cursor: pointer;
    width: 60px;
    height: 60px;
    font-size: 1em;
    text-align: center;
    display: none;
}



/* 2. Sidebar */
.leftMenu {
    float: left;
    left: 0;
    width: 200px;
    height: 100vh;
    position: fixed;
    font-size: 1.8em;
    text-align: left;   
    background: rgb(196, 196, 196);
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    font-weight: 300;
}

.leftMenu a{
    height: 30px;
    padding-bottom: 10px;
}

.leftMenu a:hover {
    color: #24292f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* 3. Main */
.main {
    padding-top: 70px;
}
   
body {
    background-color: rgb(219, 219, 219);
}

.body {
    float: left;
    margin-left: 200px;
    min-width: 360px;
}

img {
    float: left;
}



/* 3.1 Tabs  */
.wrapperTab {
    width: 30%;
    margin-left: 63%;
    justify-content: right;
    display: flex;
}

.tabBlock {
    margin-right: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    width: 100px;
    height: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 20px;
    font-display: block;
    font-weight: 400;
}

.tabBlock:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
}

.tabBlock_active {
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
}


/* 3.2 Tabs Content  */
.tabs_content {
    width: 80%;
    margin-left: 200px;
}

.tabs_content ul {
    background-color: rgb(183, 182, 182);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.tabs_content ul li {
    display: inline-block;
    width: 174px;
    padding: 10px;  
    font-size: 0.7em;
}

.tabs_content ul li:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.tabs_content img {
    display: block;
    float: left;
    width: 100%;
    height: 240px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    margin: 5px;
}

.tabs_content p {
    float: left;
    display: block;
}

.compilations h2{
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 300;
}
/* 3.3 Other  */

.annotation p {
    margin: 10px;
}

li {
    font-weight: 300;
}

li b {
    font-weight: 500;
}

.imgTitle {
    padding-right: 10px;
    float: left;
    width: 300px;
    height: 450px;
}

h3 {
    margin: 0 5px;
    font-weight: 400;
}

table {
    float: left;
    padding: 10px;
    font-size: 1.3em;
    font-weight: 400;
}

table thead th {
    text-align: left;
    font-weight: 500;
}

ul {
    float: top;
    padding: 10px;
    font-size: 1.3em;
    list-style-type: none;
}



/* 4. Helpers  */
a {
    color: rgb(23, 22, 22);
    text-decoration: none;
}

.a {
    padding: 5px; 
    text-align: left;
    display: list-item;
}

a:hover {
    color: rgb(76, 52, 155);
}

@media (max-width: 500px) {
    .body {margin-left: 0px;}
    .leftMenu {
        transform: translateX(-100%);
        transition: 0.2s;
    }
    .burger {display: block;}
    button {display: none;}
    .imgTitle {
        width: 200px;
        height: 300px;
    }
    .tabs_content{
        margin-left: 0px;
    }
    .tabs_content ul li{
        width: 150px;
    }
    .tabs_content img{
        height: 190px;
        width: 100%;
        margin: 5px;
    }
    .imgTitle {
        position: block;
        margin: auto;
        padding-right: 10px;
        width: 90%;
        height: 500px;
    }
}

.active {
    transition: 0.3s;
    transform: translateX(0);
}
