/* 
1. Header
2. Sidebar
3. Main
    3.1 Tabs 
    3.2 Tabs Content 
    3.3 Other 
4. Helpers 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}
 
body {
    display: grid;
    background-color: rgb(219, 219, 219);
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: grid;
    min-height: 100vh;
}

/* 1. Header */
header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 70px;
    text-align: left;
    background: #24292f;
    font-size: 40px;    
    font-weight: 300;
    align-items: center;
    
}

.head-wrapper {
    padding-left: 220px;
    padding-right: 220px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.head-menu {
    display: flex;
    font-size: 18px;
}

.head-menu li {
    margin-left: 20px;
}

.head-menu a:hover{
    color: #808080;
    cursor: pointer;
}

header a {
    font-weight: 300;
    padding: 10px;
    color: rgb(255, 255, 255);
 }

header a:hover {
    color: rgb(255, 255, 255);
}

.burger {
    right: 0;
    top: 0;
    position: fixed;
    color: #fff;
    cursor: pointer;
    width: 60px;
    height: 60px;
    font-size: 1em;
    text-align: center;
    display: none;
}

/* 2. Sidebar */
.sidebar {
    margin-top: 70px;
    left: 0;
    width: 200px;
    height: 100vh;
    position: fixed;
    font-size: 1.8em;
    text-align: left;   
    background: rgb(196, 196, 196);
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    font-weight: 300;
}

.sidebar a{
    height: 30px;
    padding-bottom: 10px;
}

.sidebar a:hover {
    color: #24292f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* 3. Main */
main {
    padding-top: 70px;
    max-width: 73%;
    margin-left: 200px;
}
   
.main__content {
    float: left;
    min-width: 360px;
}

img {
    float: left;
}

.scroll-top {
    right: 20px;
    bottom: 65px;
    display: none;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 50px;
    text-align: center;
}

.top-arrow {
    width: 15px;
    height: 15px;
    border-top: 3px solid gray;
    border-left: 3px solid gray;
    transform: rotate(45deg);
    display: inline-block;
    vertical-align: middle;
}

.scroll-top:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
}

/* 3.1 Tabs  */
.tabs {
    width: 30%;
    margin-left: 71%;
    justify-content: right;
    display: flex;
}

.tab-block {
    margin-right: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    display: block;
    width: 100px;
    height: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 18px;
    font-display: block;
    font-weight: 400;
}

.tab-block:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
}

.tabs_tab-block_active {
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
}

/* 3.2 Tabs Content  */
.tabs-content {
    width: auto;
}

.tabs-content ul {
    background-color: rgb(183, 182, 182);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.tabs-content ul li {
    display: inline-block;
    width: 193px;
    padding: 10px;  
    font-size: 0.7em;
}

.tabs-content ul li:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.tabs-content img {
    display: block;
    float: left;
    width: 100%;
    height: 250px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    margin: 5px;
}

.tabs-content p {
    float: left;
    display: block;
}

.compilations h2 {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 300;
}

/* 3.3 Other  */
.annotation p {
    margin: 10px;
}

.annotation h1 {
    margin: 10px;
}


li {
    font-weight: 300;
}

li b {
    font-weight: 500;
}

.img-title {
    padding-right: 10px;
    float: left;
    width: 300px;
    height: 450px;
}

h3 {
    margin: 0 5px;
    font-weight: 400;
}

table {
    float: left;
    padding: 10px;
    font-size: 1.3em;
    font-weight: 400;
}

table thead th {
    text-align: left;
    font-weight: 500;
}

ul {
    float: top;
    padding: 10px;
    font-size: 1.3em;
    list-style-type: none;
}

/* 4. Helpers  */
a {
    color: rgb(23, 22, 22);
    text-decoration: none;
}

.a {
    padding: 5px; 
    text-align: left;
    display: list-item;
}

a:hover {
    color: rgb(76, 52, 155);
}

/* footer */
footer {
    margin-top: auto;
    width: 100%;
    height: 45px;
    background: #24292f;
    position: relative;
}

.footer-section {
    height: 100%;
    float: right;
    width: 20%;
    display: flex;   
    text-align: center;
    justify-content: right;
}

.footer-section a {
    padding: 10px 20px;
    font-size: 16px;    
    color: #aeaeae;
}

.footer-section a:hover {
    cursor: pointer;
}

@media (max-width: 900px) {
    .head-wrapper {
        padding: 0;
    }
}

@media (max-width: 500px) {
    footer {
        height: 60px;
    }
    main {
        margin-left: 0;
        max-width: 100%;
    }
    .sidebar {
        transform: translateX(-100%);
        transition: 0.2s;
    }
    .burger {display: block;}
    header ul li {display: none;}
    .img-title {
        width: 200px;
        height: 300px;
    }
    .tabs-content {
        width: 100%;
        margin-left: 0px;
    }
    .tabs-content ul li {
        width: 150px;
    }
    .tabs-content img {
        height: 190px;
        width: 100%;
        margin: 5px;
    }
    .img-title {
        position: block;
        margin: auto;
        padding-right: 10px;
        width: 90%;
        height: 500px;
    }
    .scroll-top {
        right: 5px;
        bottom: 65px;
        width: 40px;
        height: 40px;
        font-size: 30px;
    }
    .top-arrow {
        margin-top: 10px;
    }
}

.active {
    transition: 0.3s;
    transform: translateX(0);
}
