* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(195, 195, 195);
}
 
.main {
    padding-top: 70px;
}

.picture {
    width: 100%;
    background-image: url("https://burrow.hogwartsishere.com/media/profile_covers/mylibrary.jpg");
    height: 31vh;
    background-repeat: repeat-x;
    float: left;
}

button {
    float: right;
    width: 10%;
    height: 70px;   
    background: rgb(148, 116, 116);
    border: 1px solid black;
    border-bottom: 0cm;
    border-top: 0cm;
    border-right: 0cm;
    font-size: 0.5em;
    color:black;
}

button:hover {
    background: rgb(125, 92, 92);
    cursor: pointer;
}

#div1 {
    width: 100%;
    height: 70px;
    background: rgb(148, 116, 116);
    text-align: left;
    line-height: 70px;
    font-size: 2.5em;        
    position: fixed;
}

#div2 {
    font-size: 1.2em;
    margin: 10px;
}

table {
    font-size: 1.5em;
}

a {
    color:rgb(23, 22, 22);
    text-decoration: none;
}

a:hover {
    color:rgb(177, 80, 186);
    text-decoration: none;
}
